<!DOCTYPE html>
<html>
  <head>
    <title>StackCity</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="nav_bar" >
      <div id="login" >
        <% if logged_in? %>
        <div id="logoutContainer">
          <%= link_to "logout", {:controller=> "sessions", :action=> "destroy"}, :method => :delete%>

        </div>
        <% else %>
        <div id="loginContainer">
                <%= link_to "login", {:controller=> "sessions", :action=> "new"}, :method => :get%>
            </div>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>